.button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  width: 150px;
  height: 45px;
  background: #ffffff;
  color: rgb(5, 5, 5);
  font-size: 16px;
}

.button:hover {
  opacity: 0.9;
}

.button-search {
    background-color: #ffffff;
    height: 34px;
    width: 80px;
    font-size: 12px;
}

.button-prevnav{
    background-color: #ffbb00;
    height: 40px;
    width: 40px;
    font-size: 12px;
}
.button-nextnav{
    background-color: #ffbb00;
    height: 40px;
    width: 40px;
    font-size: 12px;
}