/* Isso garante que o container ocupe a altura inteira da tela */
.Login, .Cadastro {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% da Viewport Height */
}

/* Isso faz o main crescer e empurrar o footer para baixo */
.Login main, .Cadastro main {
  flex: 1;
  
  /* Opcional: Se quiser que o formulário fique 
     exatamente no centro da tela verticalmente: */
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
}