* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
   
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}