.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    width: 100%;
   
}

.header-title{
    color:#ffffff; 
    
}

.header-utils{
    display: flex;
    align-items: center;
    gap: 60px;
}

.header-actions{
    display: flex;
    gap: 12px;
}